<md-content layout-padding>
<form name="appointmentCreateForm">
  <md-input-container class="md-block"> <label>Appointment Id</label>
    <input name="Registration" required ng-model="record.registrationId" type="text" only-digits ng-minlength="3" ng-maxlength="6"> </md-input-container>

    <md-input-container class="md-block"> <label>Appointment Date</label>
    <input name="appointmentDate" required ng-model="record.appointmentDate" type="date" min="{{currentDate | date: 'yyyy-MM-dd'}}"> </md-input-container>

    <md-input-container class="md-block"> <label>Patient Name</label>
    <input name="patientName" required ng-model="record.patientName"> </md-input-container>

    <md-input-container class="md-block"> <label>DOB</label>
    <input name="DOB" required ng-model="record.dob" type="date" max="{{currentDate | date: 'yyyy-MM-dd'}}"> </md-input-container>

    <md-input-container class="md-block" flex-gt-sm> <label>Hospital
        Name</label> <md-select ng-model="record.hospitalId" required ng-change="getAllDoctorsByHospitalId(record.hospitalId)"> <md-option
        ng-repeat="hospital in hospitals" ng-value="hospital.id"
        ng-selected="hospital.id === record.hospitalId">{{
    hospital.name }}</md-option> </md-select> </md-input-container>

    <md-input-container class="md-block" flex-gt-sm> <label>Doctor
        Name</label> <md-select ng-model="record.doctorId" ng-change="getAllHospitalsByDoctorId(record.doctorId)"> <md-option
        ng-repeat="doctor in doctors" ng-value="doctor.id"
        ng-selected="doctor.id === record.doctorId">{{
    doctor.name }}</md-option> </md-select> </md-input-container>

      


    <md-input-container class="md-block" flex-gt-sm>
    <div ng-if="doctorSelected == true">
      <md-input-container class="md-block" flex-gt-sm> <label>Time
        Slot</label> <md-select ng-model="record.time" required> <md-option
        ng-repeat="time in times" ng-value="time.id"
        ng-selected="time.id === record.time">{{
    time.value }}</md-option> </md-select> </md-input-container>

    </div>

    </md-input-container>

    <md-input-container class="md-block"> <label>Phone</label>
    <input name="Phone" required ng-model="record.phoneNumber" > </md-input-container>

    

    <md-input-container class="md-block"> <label>Email</label>
    <input name="Email" ng-model="record.email" type="email"> </md-input-container>

    <div>
        <fieldset>
            <legend>Address</legend>
            <md-input-container class="md-block" flex-gt-sm> <label>State</label> <md-select ng-model="record.state" required> <md-option
                ng-repeat="state in states" ng-value="state.value"
                ng-selected="state.value === record.state">{{
            state.value }}</md-option> </md-select> </md-input-container>

           <md-input-container class="md-block" flex-gt-sm> <label>City</label> <md-select ng-model="record.city" required> <md-option
                ng-repeat="city in cities" ng-value="city.value"
                ng-selected="city.value === record.city">{{
            city.value }}</md-option> </md-select> </md-input-container>

            <md-input-container class="md-block"> <label>Area</label>
            <input name="Email" ng-model="record.area" type="text"> </md-input-container>

             <md-input-container class="md-block"> <label>Pin Code</label>
            <input name="Email" ng-model="record.pincode" type="text" only-digits> </md-input-container>
        </fieldset>

    </div>   

    <md-input-container class="md-block"> <label>Disease</label>
    <input name="Disease" ng-model="record.diseases" > </md-input-container>

     <md-input-container class="md-block"> <label>Description</label>
   <textarea name="description" ng-model="record.description"></textarea> </md-input-container>

     <md-button class="md-raised md-primary" ng-click="saveRecord()"
        ng-hide="updatePage" ng-disabled="appointmentCreateForm.$invalid"> Save </md-button> 
        <!-- <md-button class="md-raised md-primary" ng-click="saveRecord()"
        ng-hide="updatePage" > Save </md-button> -->
    <md-button class="md-raised md-primary" ng-click="updateRecord()"
        ng-show="updatePage" ng-disabled="appointmentCreateForm.$invalid"> Update </md-button>
    <md-button class="md-raised " ng-click="cancelRecord()">
    Cancel </md-button>
</form>
</md-content>
