<div class="container">
    <div class="row" style="margin-top:50px;">
			<div class="col-md-offset-2 col-md-4" 
				ng-show="showLogin">
				<h5 class="text-center" align="center">Welcome to Doctor Appointment System</h5>
				<h5 align="center"> Login Form </h5>
	<form class="form-horizontal" ng-submit="login()">
					
			<div class="group" align="center">
 				   <input type="text" ng-model="user.username" placeholder="Username"  required=""><span class="highlight"></span><span class="bar"></span>
  					 
  				</div>
  			<div class="group" align="center">
  				  <input type="password" ng-model="user.password" placeholder="Password"  required=""><span class="highlight"></span><span class="bar"></span>
  					  <label></label>
  			</div>
		<!-- Button --> 
			<div class="control-group" align="center">
				<label class="control-label" for="signin"></label>
				<div class="controls">
				<button type="submit"  id="submit" value="Sign In" class="btn btn-success" ng-click="success()">Sign in</button>
				<!-- <md-button    class="btn btn-success"
									>Sign in
				</md-button>  -->
				</div>
			</div>
	
	</form>
		</div>
	</div>
</div>

<!-- <footer><p><a href="http://www.uskcorp.in/" target="_blank">USK CORP</a></p></footer> -->